<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Vent</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-entries-body">
        <div class="all-entries-header">
        <h1>Journal Entries</h1>
        <a class="add-entry-link" href='/users/<%= user._id%>/entries/new %>'>Add a New Entry</a>
        </div>
        <div class="read-entry-button">
        <ul>
            <% entries.forEach((entry)=> { %>
                <a href="/users/<%=user._id%>/entries/<%=entry._id%>">
                    <li>
                        <%= entry.title %>
                    </li>
                </a>
                <% }) %>
        </ul>
        </div>
</body>

</html>